 <h1 style=" color:white; text-align: center; padding: 20px 15px; text-transform: capitalize; font-size: 35px;">Reactive Form</h1>
 <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card text-white card-shadow">
                 <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">

               <div class="form-group">
                <label for="userName">UserName</label>
                <input type="text"
                formControlName="userName"
                class="form-control" id="userName">

                <strong class="text-danger mt-2" *ngIf="userName?.touched && userName?.hasError('required')">
                    username is required field
                </strong>
                
                <ng-container *ngIf="userName?.dirty">
                 <strong 
                    *ngIf="userName.hasError('npSpaceBar')"
                    class="text-danger">

                        {{userName.errors?.['npSpaceBar']}}
                 </strong>
                 <strong 
                *ngIf="userName?.hasError('minlength')"
                class="text-danger">
                    Min lenght of UserName should be 
                    {{userName?.errors?.['minlength'].requiredLength}} and the actual length is 
                    {{userName?.errors?.['minlength'].actualLength}}
                </strong>

                <strong 
                *ngIf="f['userName'].hasError('maxlength')"
                class="text-danger">
                    Max length of username is 12
                </strong>

                <strong 
                *ngIf="f['userName'].hasError('pattern')"
                class="text-danger">
                    Invalid UserName
                </strong>
                </ng-container>
               </div>

               <div class="form-group">
                <label for="email">Email</label>
                <input type="text" 
                formControlName="email"
                class="form-control" id="email">

                <strong
                *ngIf="f['email'].touched && f['email'].hasError('required')"
                class="text-danger">
                     Email is required field
                </strong>

                <strong
                *ngIf="f['email'].dirty && f['email'].hasError('pattern')"
                class="text-danger">
                    Invalid Email pattern <small>{{'abc@gmail.com'}}</small>
                </strong>
               </div>
               
               <div class="form-group">
                <label for="empId">Emp ID</label>
                <input type="text" 
                placeholder="E123"
                formControlName="empId"
                class="form-control" id="empId">

                <strong
                 *ngIf="f['empId'].touched && f['empId'].hasError('required')"
                class="text-danger">
                    Emp ID is required field
                </strong>
                <strong
                *ngIf="f['empId'].dirty &&  f['empId'].hasError('inValidEmp')"
                class="text-danger">
                {{f['empId'].errors?.['inValidEmp']}}
                </strong>
               </div>

               <div class="form-group">
                <label
                class="mr-2"
                [for]="gender" *ngFor="let gender of gendersArr">
                    <input type="radio" [id]="gender" formControlName="gender" [value]="gender">
                    {{gender | uppercase}}
                </label>
                 <!-- <label for="female">
                    <input type="radio" id="female" formControlName="gender" value="female">Female
                </label>
                 <label for="others">
                    <input type="radio" id="others" formControlName="gender" value="others">Others
                </label> -->
               </div>

               <div class="row text-white">
                 <div class="col-12">
                    <div class="form-group">
                        <label for="isAddSame"> <input type="checkbox" id="isAddSame" formControlName="isAddSame"> Is Address Same ?</label>                    
                    </div>
                </div>
                <div class="col-md-6" formGroupName="currentAddress">
                    <h2>Current Address</h2>
                    <div class="form-group">
                        <label for="caCountry">Country</label>
                       <!-- <input type="text" id="caCountry" class="form-control"  formControlName="Country"> -->
                        <select  id="caCountry" class="form-control"  formControlName="country">
                            <option [value]="country.Country" *ngFor="let country of CountryData">
                                {{country.Country}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="caState">State</label>
                        <input type="text" id="caState" class="form-control"  formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="caCity">City</label>
                        <input type="text" id="caCity" class="form-control"  formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="caPincode">Pincode</label>
                        <input type="text" id="caPincode" class="form-control"  formControlName="pincode">
                    </div>
                </div>
                <div class="col-md-6" formGroupName="permanentAddress">
                    <h2>Permanent Address</h2>
                     <div class="form-group">
                        <label for="paCountry">Country</label>
                        <!-- <input type="text" id="paCountry" class="form-control"  formControlName="Country"> -->
                           <select  id="paCountry" class="form-control"  formControlName="country">
                            <option [value]="country.Country" *ngFor="let country of CountryData">
                                {{country.Country}}
                            </option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="caState">State</label>
                        <input type="text" id="caState" class="form-control"  formControlName="state">
                    </div>
                    <div class="form-group">
                        <label for="caCity">City</label>
                        <input type="text" id="caCity" class="form-control"  formControlName="city">
                    </div>
                    <div class="form-group">
                        <label for="caPincode">Pincode</label>
                        <input type="text" id="caPincode" class="form-control"  formControlName="pincode">
                    </div>
                </div>               
               </div>
              
               <div formArrayName="skills">
                <h2 >Skills</h2>
                <div class="row "  *ngFor="let skill of skillsArr.controls; let i = index" style="display: flex; align-items: center;">
                    <div class="col-10">
                        <div class="form-group">
                            <input type="text" [formControlName]="i" class="form-control" />
                        </div>
                    </div>
                    <div class="col-2" *ngIf="i > 0">
                        <button 
                        type="button"
                        (click)="OnSkillRemove(i)"
                        class="btn btn-sm btn-outline-danger" style="height: 100%; display: flex; align-items: center; margin-bottom: 15px;">Remove</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <button 
                        *ngIf="skillsArr.length < 5; else maxSkillReach "
                        [disabled]="f['skills'].invalid"
                        type="button"
                        (click)="OnSkillAdd()"
                        class="btn btn-primary">Add skill</button> 

                        <ng-template #maxSkillReach>
                            <p class="text-danger">
                                You Can  Add 5 Skills Only !!
                            </p>
                        </ng-template>
                    </div>   
                </div>
               </div>

               <div formArrayName="dependents">
                <div class="row" *ngFor="let dependent of dependentsArr.controls; let i =index" [formGroupName]="i">
                    <div class="col-3"> 
                        <div class="form-group">
                            <input type="text" placeholder="fullname" formControlName="fullName" class="form-control">
                        </div>
                    </div>
                    <div class="col-3"> <div class="form-group">
                            <input type="text" placeholder="Relationship"  formControlName="relationship" class="form-control">
                        </div></div>
                    <div class="col-3"> <div class="form-group">
                            <input type="text" placeholder="citizenship" formControlName="citizenship" class="form-control">
                        </div></div>
                    <div class="col-3"> 
                        <div class="form-group">
                            <select type="text" placeholder="Is travelling with you" formControlName="IstravlingWithu" class="form-control">

                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                        <div class="col">
                            <button
                            (click)="onDependentRemove(i)";
                            *ngIf="i > 0"
                            type="button" class="btn btn-sm btn-outline-danger">
                                Remove
                            </button>
                        </div>

                </div>
                <div class="row mb-3">
                    <div class="col">
                        <button
                        type="button"
                        [disabled]="f['dependents'].invalid"
                        (click)="addDependents()"
                        class="btn btn-sm btn-warning text-white  py-10 "
                        >
                            Add Dependent
                        </button>
                    </div>
                </div>
               </div>
        
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Password</label>
                            <input 
                            [type]="showPassword ? 'text' : 'password'" 
                            id="password" 
                            formControlName="password" 
                            class="form-control">

                           <span 
                            class="position-absolute" 
                            style="top: 38px; right: 20px; cursor: pointer; color:black;"
                            (click)="showPassword = !showPassword" >
                            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </span>
                        <strong
                        *ngIf="f['password'].touched && f['password'].hasError('required')"
                        class="text-danger">
                            Password is required field
                        </strong>
                         <strong
                        *ngIf="f['password'].dirty && f['password'].hasError('pattern')"
                        class="text-danger">
                           Invalid Password : Password must be 8 characters long and include one lowercase letter, one uppercase letter, one digit and one special character
                        </strong>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="Confirmpassword">ConfirmPassword</label>
                        <input type="text" id="Confirmpassword" formControlName="Confirmpassword" class="form-control">
                         
                         <strong
                        *ngIf="f['Confirmpassword'].dirty && f['Confirmpassword'].hasError('passconfirmmatch')"
                        class="text-danger">
                            {{f['Confirmpassword'].errors?.['passconfirmmatch']}}
                        </strong>
                    </div>
                </div>
               </div>

               <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Password</label>
                            <input 
                            [type]="showPassword ? 'text' : 'password'" 
                            id="password" 
                            formControlName="password" 
                            class="form-control">

                           <span 
                            class="position-absolute" 
                            style="top: 38px; right: 20px; cursor: pointer; color:black;"
                            (click)="showPassword = !showPassword" >
                            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </span>
                        <strong
                        *ngIf="f['password'].touched && f['password'].hasError('required')"
                        class="text-danger">
                            Password is required field
                        </strong>
                         <strong
                        *ngIf="f['password'].dirty && f['password'].hasError('pattern')"
                        class="text-danger">
                           Invalid Password : Password must be 8 characters long and include one lowercase letter, one uppercase letter, one digit and one special character
                        </strong>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="Confirmpassword">ConfirmPassword</label>
                        <input type="text" id="Confirmpassword" formControlName="Confirmpassword" class="form-control">
                         
                         <strong
                        *ngIf="f['Confirmpassword'].dirty && f['Confirmpassword'].hasError('passconfirmmatch')"
                        class="text-danger">
                            {{f['Confirmpassword'].errors?.['passconfirmmatch']}}
                        </strong>
                    </div>
                </div>
               </div>


               <button [disabled]="signUpForm.invalid" class="btn btn-block btn-info">Sign Up</button>

            </form>
            </div>
        </div>
    </div>
 </div>